<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Aqui puc escriure tambe{% endblock %}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<body>
    <div id="content"  name="content">
        {% block content %}
            <p>El que hi ha aqui dins, quan es posi lo del block content es sobreescriura, per tant, no hauria de sortir mai aquest text que estic posatn aqui jejejejeje</p>
        {% endblock %}

    </div>
</body>
</html>