{% extends 'home/base.html' %}
{% block title %} Sistema de Geolocalització {% endblock %}
{% load static %}
{% block content %}
<head>
    <style>
        .centrar{
            text-align: center;
        }
        .info-cesc{
            margin-left: 100px;
        }
    </style>
</head>
<br>
<div class="centrar">
    <h1>Treball Fi de Grau</h1>
    <div class="centrar">
        <h2>Sistema d'informació Geogràfica per a l'estudi d'usos de les ciutats</h2>
    </div>
</div>
<hr>
<div class="container info-cesc">
    <p align="justify">
        Aquest sistema GIS, de l'Anglès <i>Geographical Information System</i>, ha estat dissenyat i programat per en Francesc Ferré Tarrés.<br>
        La finalitat principal d'aquest treball és mostrar la usabilitat de les ciutats a partir dels punts d'interès que els usuaris registrats a la web posen.
        <br>
        A més, aquesta web va destinada a complementar un projecte més gran, coordinat per en Roger Miralles Jori (professor de l'Escola Tècnica Superior d'Arquitectura, a la Universitat Rovira i Virigli) i
        l'Antoni Martínez Ballesté (professor de l'Escola Tècnica Superior d'Enginyeria, a la Universitat Rovira i Virgili), qui ha estat el meu tutor personal per a culminar aquest projecte.
        <br>
        <h4>Funcionalitats de la web</h4>
        <ol>
            <li>Capçalera:
                <ul>
                    <li>En la part esquerra de la capçalera es veu en blau un bànner. Si es fa click, retornes a la pàgina d'inici, és a dir, en <a href="/">aquesta<a>. En aquesta pàgina trobaràs informació relacionada
                        en com navegar dins de la web i quines són les funcionalitats, detallades.</li>
                    <li>
                        En la part dreta de la capçalera es veuen tres opcions clares:
                        <ul>
                            <li><b>Visualitza el mapa:</b> En aquesta opció, qualsevol persona que es connecti, pot veure el mapa amb els punts d'interès que la persona amb privilegis d'administrador ha afegit.</li>
                            <li><b>Registrar-se:</b> En aquesta opció, qualsevol persona que vulgui, omple el formulari i pot registrar-se gratis sense cap mena de problema.</li>
                            <li><b>Iniciar sessió:</b> En aquesta opció, qualsevol persona que ja prèviament s'hagi registrat, pot iniciar la sessió en aquesta pàgina.</li>
                        </ul>
                        En la pàgina en que es visualitza el mapa, hi ha una opció interessant per a tots aquells que volen cercar informació sobre un punt. Aquesta opció és una opció que dóna, <b>de forma aleatòria</b> informació sobre un punt en específic.
                    </li>
                </ul>
            </li>
            <li>Mapa:
                <ul>
                    <li>En aquesta pantalla es mostra el mapa, realitzat amb la tecnologia de Google Maps utilitzant la API de JavaScript. A continuació es pot veure un exemple:
                    <div class="text-center">
                        <figure>
                            <br>
                            <img style="border-width: 2px; border-style: solid;" src="{% static 'exemple_mapa1.png' %}"/>
                            <figcaption><b>Exemple GIS</b></figcaption>
                        </figure>
                    </div>
                    <br>El que es pot veure en aquesta imatge és un exemple real sobre el que es pot representar en aquest mapa. Es poden veure diferents punts marcats en el mapa, aquests són els punts d'interès que l'usuari autoritzat ha afegit.
                        Si s'apreta en algun dels punts, es pot veure informació dins d'un quadre de text (inclou un enllaç per a veure la informació en una finestra més gran), aquí hi ha un exemple:
                        <div class="text-center">
                            <figure>
                                <br>
                                <img style="border-width: 2px; border-style: solid;" src="{% static 'exemple_click_punt.jpg' %}"/>
                                <figcaption><b>Punt d'interès premut</b></figcaption>
                            </figure>
                        </div>
                        <br>
                        A més hi ha un mòdul estadístic, aquest permet filtrar i extreure dades, aquests filtres són els següents:
                        <ul>
                            <li><b>Ciutat o Poble:</b> Aquest filtratge permet que es cerquin els punts d'interès en una ciutat o poblacio de Catalunya. S'ordenen per mitjà de les províncies. Per tant, la persona que vulgui fer
                                un filtre estadístic, ha d'establir primer la província del poble o ciutat a la qual vol filtrar els punts.
                            </li>
                            <li><b>Tipus:</b> En aquest filtratge podem aplicar quin tipus de locals vol la persona per a filtrar de la població que ha establert anteriorment.</li>
                            <li><b>Actiu:</b> Botó que si està activat, cerca els locals actius, altrament, cerca els locals no actius.</li>
                        </ul>
                        Els resultats que dóna aquest mòdul són els següents:
                        <ul>
                            <li><b>Resultat de la consulta actual:</b> El servidor retorna el resultat d'aplicar els filtres establerts per la persona interessada en saber el resultat.</li>
                            <li><b>Locals de la mateixa localitat:</b> El servidor retorna tots els locals que es troben en la mateixa localitat, tant els locals actius o no.</li>
                            <li><b>Locals de la mateixa categoria:</b> El servidor retorna tots els locals que es troben en la localitat donada però amb el actiu contrari al donat i la mateixa categoria.</li>
                            <li><b>Locals d'altres categories:</b> El servidor retorna tots els localts que estroben en la mateixa localitat donada però amb una categoria diferent a la que s'ha donat.</li>
                            <li><b>Locals d'altres pobles amb la mateixa categoria:</b> El servidor manté l'actiu donat i la categoria però cerca locals a altres localitats.</li>
                            <li><b>Locals resultat d'aplicar el resultat contrari de la consulta actual:</b> El servidor retorna el resultat contrari als paràmetres donats. Per exemple:
                            <ul>
                                <li><b>Localitat:</b> Valls (Alt Camp), Tarragona</li>
                                <li><b>Tipus:</b> Restauració</li>
                                <li><b>Actiu:</b> Botó apretat</li>
                            </ul>
                                El que el servidor retornarà seràn tots aquells locals que no són de <i><b>Valls</b></i>, que no estan dins de l'àmbit de la <i><b>Restauració</b></i> i <i><b>no actius</b></i>.
                            </li>
                            <li><b>Locals presents en tot el sistema GIS:</b> El servidor retorna tots els locals que hi ha en la base de dades.</li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li>Informació d'un local en específic:
                Aquesta opció és vàlida quan s'accedeix a la pàgina de visualització del <a href="/v1/geoInfoSystem/map/">mapa</a>, descrita en l'apartat anterior. En aquesta opció, el que es fa és que cada vegada que una persona accedeix
                en la pàgina, aquesta carrega una pàgina específica d'informació d'un local (punt d'interès) aleatori present en el sistema GIS.
            </li>
            <li>Registrar-se a la web:
                En aquesta opció, qualsevol persona que vulgui registrar-se a la web, ho pot fer <i><b>de forma totalment gratuita</b></i>. Per a registrar-se a la web cal omplir un formulari. Aquest formulari ha de complir certes condicions.<br>
                Estan descrites en la pàgina de registre, però són els següents:
                <ul>
                    <li>Nom d'usuari no agafat prèviament</li>
                    <li>Contrassenya de més de 8 caràcters alfanumèrics i especials</li>
                    <li>Ambdues contrassenyes coincideixin</li>
                    <li>Format mail: <i>exemple@mail.com</i></li>
                </ul>
                En cas que estiguis registrat a la web i l'administrador de la pàgina dongui privilegis d'administrador, és a dir, que formis part del staff tècnic de la pàgina, podràs afegir nous punts en el sistema GIS.
            </li>
            <li>Iniciar sessió a la web:
                Aquesta opció permet a qualsevol persona que s'hagi registrat prèviament, iniciar sessió en la web. Iniciant sessió i sent administrador de la pàgina, tindràs la capacitat de afegir nous punts en el sistema GIS.
                En cas que no siguis un administrador de la pàgina, tindràs accès a qualsevol opció, igual com si accedissis de forma normal.
                A més, un usuari qualsevol, que hagi iniciat sessió podrà accedir a la pantalla del seu perfil, en la qual pot veure les seves dades personals i modificar-les o afegir, en cas que no les hagi afegit anteriorment.
                <ul>
                    <li><b>Pàgina de perfil de l'usuari:</b> En aquesta pantalla, tal com s'ha comentat en anterioritat, l'usuari pot completar les dades que no hagi afegit en anterioritat, però també té la capacitat de realitzar diverses accions a part:
                        <ul>
                            <li>
                                <b><i>Accès a la pàgina administrativa:</i></b> En cas que l'usuari formi part de l'staff tècnic de la pàgina (i havent-se registrat prèviament), pot accedir a una sèrie d'enllaços especials, que només són accessibles en aquella pàgina,
                                i li permet gestionar usuaris de la web (posar com a administador de la pàgina un usuari en concret, eliminar-lo del sistema, treureli privilegis), els punts d'interès, els locals, les categories i fins i tot les localitats.<br>
                                Dit d'una forma més tècnica, aquest usuari interactua directament amb la base de dades del sistema GIS. D'aquesta forma, tot el que es faci en aquesta part administrativa, presenta persistència i no és reversible.
                                Per tant, qualsevol persona, que formi part del staff tècnic de la pàgina, ha d'ésser conscient de les accions que dugui a terme.
                            </li>
                            <li><b><i>Donar-se de baixa del web i del sistema GIS:</i></b> Aquesta opció, també està present en la pàgina del perfil de l'usuari. Aquesta hi té accès qualsevol persona registrada en el sistema GIS. Tal com el seu nom indica, el que fa és
                                donar de baixa i eliminar totes les dades de l'usuari en específic.
                            </li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li>Creació d'un nou punt en el sistema GIS:
                Aquesta opció està restringida a tots els usuaris, excepte aquells qui siguin administradors de la pàgina, tal com s'ha comentat amb anterioritat en punts anteriors. En aquesta pantalla els usuaris es troben tres blocs:
                <ul>
                    <li><b><i>Mapa per afegir punts nous:</i></b> És en aquesta primera secció en la que els usuaris amb privilegis d'administrador podran afegir els nous punts al sistema GIS, sempre i quan siguin punts nous.</li>
                    <li><b><i>Instruccions:</i></b> S'explica el flux normal de la execució del sistema d'afegir un nou punt.</li>
                    <li><b><i>Preguntes freqüents:</i></b> En aquesta secció l'usuari privilegiat pot veure una col·lecció de preguntes freqüents sobre el funcionament d'afegir nous punts al sistema GIS.</li>
                </ul>
                <div class="text-center">
                    <figure>
                        <br>
                        <img style="border-width: 2px; border-style: solid;" src="{% static 'nou_punt_mapa.jpg' %}"/>
                        <figcaption><b>Exemple amb el mapa marcat amb un nou punt</b></figcaption>
                    </figure>
                </div>

                Tal com es pot veure en la imatge anterior, en la part inferior del mapa es mostra una botonera formada per a tres botons:
                <ul>
                    <li><b><i>Centrar mapa:</i></b> Aquesta opció, centra el mapa en la zona on es troba l'usuari que vol afegir el punt. <br><b style="color: red">IMPORTANT: L'usuari ha de donar permís al navegador per la geolocalització per a gaudir d'aquesta acció.</b></li>
                    <li><b><i>Esborrar els punts marcats:</i></b> Aquesta opció el que fa és que l'usuari tingui la capacitat d'eliminar els punts que ha marcat, en cas que s'hagi equivocat.</li>
                    <li><b><i>Mostrar els punts:</i></b> Aquest botó és molt important. Aquest botó permet a l'usuari passar a la següent etapa del procès d'afegir un punt.</li>
                </ul>
                Quan l'usuari ha pitjat el botó <b><i>Mostrar els punts</i></b>, el que passa és que apareix un desplegable en el qual hi apareix un llistat de tots els punts que ha afegit l'usuari, essent el <i>Punt 1</i>, el primer punt d'interès que l'usuari ha pitjat i els <i>Punt N</i>, els següents.
                D'aquest desplegable, l'usuari ha d'escollir el que vulgui processar i donar-li al botó <i><b>Següent</b></i>, apareix el formulari per a omplir les dades referents al local que es troba en la localització. Aquest formulari demana el següent:
                <ul>
                    <li>Nom del local.</li>
                    <li>Petita descripció del local.</li>
                    <li>Botó que determina si el local és actiu (botó apretat) o no (botó sense apretar).</li>
                    <li>Superficie del local.</li>
                    <li>Ubicació del local (localitat).</li>
                    <li>Estat de conservació del local.</li>
                    <li>Any de construcció.</li>
                </ul>
                <div  class="text-center">
                    <figure>
                        <br>
                        <img style="border-width: 2px; border-style: solid;" src="{% static 'form_nou_punt1.jpg' %}"/>
                        <figcaption><b>Formulari on es demana totes les dades descrites anteriorment.</b></figcaption>
                    </figure>
                </div>
                Donant-li al botó de <i>desar</i>, l'usuari autoritzat processarà el punt seleccionat.<br>
            </li>
        </ol>
    </p>
</div>
{% endblock %}