<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Crear nou punt</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
        /* Style the header with a grey background and some padding */
    .header {
      overflow: hidden;
      background-color: #f1f1f1;
      padding: 20px 10px;
    }

    /* Style the header links */
    .header a {
      float: left;
      color: black;
      text-align: center;
      padding: 12px;
      text-decoration: none;
      font-size: 18px;
      line-height: 25px;
      border-radius: 4px;
    }

    /* Style the logo link (notice that we set the same value of line-height and font-size to prevent the header to increase when the font gets bigger */
    .header a.logo {
      font-size: 25px;
      font-weight: bold;
    }

    /* Change the background color on mouse-over */
    .header a:hover {
      background-color: #ddd;
      color: black;
    }

    /* Style the active/current link*/
    .header a.active {
      background-color: dodgerblue;
      color: white;
    }

    /* Float the link section to the right */
    .header-right {
      float: right;
    }

    /* Add media queries for responsiveness - when the screen is 500px wide or less, stack the links on top of each other */
    @media screen and (max-width: 500px) {
      .header a {
        float: none;
        display: block;
        text-align: left;
      }
      .header-right {
        float: none;
      }
    }
    #map {
        height: 400px;  /* The height is 400 pixels */
        width: 100%;  /* The width is the width of the web page */
       }

    </style>

</head>
<body>
    <div class="header">
        <a href="/" class="logo active"><i class="fa fa-home" aria-hidden="true"></i> Sistema d'Informació Geogràfica</a>
        <div class="header-right">
            <a href="/v1/geoInfoSystem/map/"><i class="fa fa-globe" aria-hidden="true"></i> Visualitza el mapa</a>
            {% if user.is_authenticated %}
                <a href="/v1/geoInfoSystem/el_meu_espai/"><i class="fa fa-user"></i> {{ user.username }}</a>
                <a href="/v1/geoInfoSystem/tancar_sessio/"><i class="fa fa-sign-out"></i> Tanca la sessió</a>
            {% else %}
                <a href="/v1/geoInfoSystem/registrar_nou_usuari/"><i class="fa fa-sign-in"></i> Registra't</a>
                <a href="/v1/geoInfoSystem/inicia_sessio/"><i class="fa fa-check"></i> Inicia sessió</a>
            {% endif %}
        </div>
    </div>
    <h1 class="text-center">Sistema GIS: Nous punts</h1>
    <hr>
    <br>
    <div class="container">
        {% if errors|length > 0 %}
        <div>
            <p>HI HA ELS SEGÜENTS ERRORS:</p>
            {% for error in errors %}
                <p>* {{error}}</p>
            {% endfor %}
        </div>
        {% endif %}
            <h2><img src="https://img.icons8.com/ios-glyphs/100/000000/map-marker.png"/>Afegeix punts al sistema GIS</h2>
            <div class="col-xs-12 col-md-8" style="float:none; margin:auto;"> <!--col-xs-12 col-md-8-->
                <div id="map"></div>
                <div class="text-center">
                    <div class="btn-group" role="group">
                        <button class="btn btn-outline-secondary" onclick="mostraLesCoordenadesUsuari()"><img style="height: 20px" src="https://img.icons8.com/ios-glyphs/30/000000/centre-of-gravity.png"/> Centrar mapa</button>
                        <button class="btn btn-outline-secondary" onclick="eliminarTotsPuntsInteresNous()" id="boto_eliminarPunts"><i class="fa fa-eraser"></i> Esborrar els punts marcats</button>
                        <button class="btn btn-outline-secondary" onclick="mostrarCoordenades()" id="boto_mostrarDades"><i class="fa fa-eye"></i> Mostra els punts</button>
                    </div>
                </div>
                <div><p class="text-center" style="color: red" id="InformatiuNoPunts"></p></div>

                <div class="container">
                    <div id="nousPunts" style="float:none; margin:auto;" hidden>
                        <div class="row">
                            <div class="col-sm">
                                <label for="puntsNous" class="font-weight-bold">Triar punt...</label>
                            </div>
                            <div class="col-sm">
                                <select id="puntsNous" name="punts" class="form-control"></select>
                            </div>
                        </div>
                        <div style="margin-left: 15px">
                            <div class="btn-group" role="group">
                                <div class="row">
                                    <button class="btn btn-outline-danger" onclick="tancarSeleccio()" id="bttn_close"><i class="fa fa-times" aria-hidden="true"></i> Tanca selecció de punts</button>
                                    <button class="btn btn-outline-success" onclick="dadesSeguents()" id="bttn_form_data_local"><i class="fa fa-arrow-right"></i> Següent</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <br>
            <div id="dadesSeguents" hidden>
                <div class="row form-row">
                        <div style="float:none; margin:auto" class="card card-body">
                            <div class="form-group">
                                <form id="form_guardar_nou_punt" onsubmit="return checkValues()" method="POST" action="/v1/geoInfoSystem/nouPunt/">
                                    {%csrf_token%}
                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-sm">
                                                <label class="font-weight-bold">Nom del local</label>
                                            </div>
                                            <div class="col-sm">
                                                <input type="text" name="nomLocal" id="nomLocal" placeholder="Ex: Bar El Sindicat" required>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="row">
                                            <textarea class="form-control" rows="3" name="descripcioLocal" id="descripcio" placeholder="Breu descripció del lloc."></textarea>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-sm">
                                                <label class="font-weight-bold">Tipus</label>
                                            </div>
                                            <div class="col-sm">
                                                <div id="tipusPunt"></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-sm">
                                                <label class="font-weight-bold">Superficie</label>
                                            </div>
                                            <div class="col-sm">
                                                <input type="text" name="superficie" id="superficie" placeholder="Ex: 25.45" required>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-sm">
                                                <label class="font-weight-bold">Província</label>
                                            </div>
                                            <div class="col-sm-6">
                                                <div id="selectProvincia">Selecciona la provincia:</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-sm">
                                                <label class="font-weight-bold">Localitat</label>
                                            </div>
                                            <div class="col-sm">
                                                <div id="ubicacio"></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-sm">
                                                <label class="form-weight-bold">Estat de Conservació</label>
                                            </div>
                                            <div class="col-sm">
                                                <select id="puntuacioLloc" class="form-control" onchange="emmagatzemarPuntuacio()">
                                                    <option value="0">0</option>
                                                    <option value="1">1</option>
                                                    <option value="2">2</option>
                                                    <option value="3">3</option>
                                                    <option value="4">4</option>
                                                    <option value="5">5</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-sm">
                                                <label class="font-weight-bold">Any de construcció</label>
                                            </div>
                                            <div class="col-sm">
                                                <input type="text" name="any" id="any" placeholder="Ex: 1714" required>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="text-center">
                                        <div class="form-check">
                                            <label class="font-weight-bold">Actiu </label>
                                            <input type="checkbox" onclick="canviEstat()" name="actiu" id="esActiu">
                                        </div>
                                    </div>
                                    <input type="hidden" name="llocActiu" id="botoActiu" value="False">
                                    <input type="hidden" name="p" id="puntuacio" value="0">
                                    <input type="hidden" name="tipus" id="categoriaPunt" value="Restauració"> <!--canviar per la primera categoria quan tingui les bones categories perq ara nse-->
                                    <input type="hidden" name="poblacio" id="poblacioG" value="Aiguamúrcia (Alt Camp), Tarragona">
                                    <input type="hidden" name="puntPerProcessar1" id="puntNou" value="a">
                                    <input type="hidden" name="puntprocessarAux" id="puntAux" value="">
                                    <input type="hidden" name="altresPunts" id="altresPunsNous" value="">
                                    <input type="hidden" name="midaLlista" id="midaLlistatPunts" value="">
                                    <div class="text-center"><button style="margin:0px auto;" onclick="guardarSeleccionat()" class="btn btn-success"><i class="fa fa-plus" aria-hidden="true"></i> Desar</button></div>
                                </form>
                            </div>
                        </div>
                </div>
            </div>
    </div>
    <br>
    <div id="instruccionscard" class="container">
        <div class="card card-body">
            <h2><img height="70px" src="https://img.icons8.com/dotty/80/000000/user-manual.png"/> Instruccions</h2>
            <div class="row">
                <ol>
                    <li><b>Mapa</b>: El mapa et serveix per a apretar els punts d'interès que vulguis afegir en el sistema GIS.
                    </li>
                    <li><b>Botonera</b>:
                        <ul>
                            <li><b><i>Centrar mapa</i></b>: Amb aquesta funció podràs centrar el mapa aproximant la posició en la que et trobes. Has de donar permís al navegador per a poder fer ús d'aquesta tecnologia.</li>
                            <li><b><i>Esborrar els punts marcats</i></b>: Amb aquesta funció, quan hi hagi els punts marcats en el mapa, podràs eliminar-los tots de cop.</li>
                            <li><b><i>Mostrar punts</i></b>: Un cop hagis marcat punts en el mapa i apretis el botó, passaràs a la <i>següent fase</i>:
                                <ul>
                                    <li>
                                        Es mostrarà un desplegable amb tots els punts nous. Els noms dels punts en el desplegable tenen la forma: <b>Punt <i>X</i></b>, on X=1 és el primer punt apretat en el mapa i X=N, l'últim punt d'interès marcat.
                                    </li>
                                    <li>
                                        Es selecciona un dels punts que hi ha en el desplegable i s'apreta el botó "Següent". Quan apretem aquest, el sistema mostrarà un formulari per tal de completar tota la informació necessària per a documentar el local.
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                </ol>
            </div>
        </div>
        <br>
    </div>
    <br>
    <div class="container">
        <div class="card card-body">
            <h2><img  style="height: 70px" src="https://img.icons8.com/ios-glyphs/64/000000/thinking-male.png"/> Preguntes freqüents</h2>
            <div class="row">
                <ol>
                    <li><b>Puc centrar el mapa si no permeto la geolocalització del navegador en aquest lloc web?</b>
                        <p style="margin-left: 10px" align="justify">Malauradament no. Aquesta opció funciona gràcies a un mecanisme que hi ha incorporat en la versió 5 del llenguatge HTML, de l'Anglès <i>HyperText Markup Language</i>.</p>
                        <b>I si no centro el mapa no puc afegir nou/s punt/s d'interès nou/s?</b>
                        <p style="margin-left: 10px" align="justify">El fet de no acceptar la geolocalització no impedirà en cap cas que el sistema GIS pugui afegir el nou o nous punts. Simplement és una ajuda per tu, per centrar el mapa en la localitat on estàs.</p>
                    </li>
                    <li><b>He marcat un punt i vull marcar un altre quan ja tinc el desplegable de punts d'interès nous obert. Què haig de fer per a actualitzar el llistat de punts per a processar?</b>
                        <br>
                        <p style="margin-left: 10px;" align="justify">El botó que abans permetia mostrar els punts, ara permet l'actualització del llistat de punts del desplegable.
                            <br>Amb aquesta opció podràs actualitzar el desplegable i podràs processar els nous punts que hagis posat en aquest cas.</p>
                        <b>I llavors, com puc tancar el desplegable?</b>
                        <p style="margin-left: 10px;" align="justify">El desplegable el podràs tancar perquè apareix un nou botó que té aquesta opció.</p>
                    </li>
                    <li>
                        <b>Què passa si intento mostrar punts marcats quan no hi ha cap punt en el mapa?</b>
                        <p style="margin-left: 10px" align="justify">Tranquil, no passa res. Simplement la web t'avisa de que no tens cap punt marcat i et convida a que posis els punts nous en el mapa.</p>
                    </li>
                    <li>
                        <b>Puc afegir un nou punt si no omplo el formulari de la informació referent al local?</b>
                        <p style="margin-left: 10px;" align="justify">No. El sistema et retornarà de nou a la pàgina aquesta, guardant tots els punts que hagis posat en el mapa i hauràs de repetir
                            totes les accions que s'expliquen en l'apartat de les <a href="#instruccionscard">instruccions</a>.</p>
                        <b>Això vol dir que en cas d'error al processar la informació, retornaré aquí amb totes les dades guardades?</b>
                        <p style="margin-left: 10px" align="justify">Exacte. Sempre que hi hagi algun error referent amb el formulari final, on es demana la informació del local.</p>
                    </li>
                </ol>
            </div>
        </div>
    </div>

<script>
    var map;
    var llistatNousMarkers=[];
    var llistatTitolsNousMarkers=[];
    var llistaPuntsPendents = JSON.parse(`{{punts | safe}}`);
function initMap() {
    //Localitzem en el món Catalunya
    var catalunya = {lat: 41.8204600, lng: 1.8676800};
    var llistaPuntsPerPosar=[];
    // Mapa centrat a Catalunya
    map = new google.maps.Map(document.getElementById('map'), {zoom: 7, center: catalunya});
    if (llistaPuntsPendents.length !== 0){
        var midaLlista = `{{ lenLlista }}`;
        for(var j=0; j< llistaPuntsPendents.length; j++){
            for (var i = 0, keys = Object.keys(llistaPuntsPendents[j]), ii = keys.length; i < ii; i++) {
                let nomPunt = llistaPuntsPendents[j][keys[i]].split(",")[0];
                if(nomPunt !== "--- Siusplau selecciona un punt ---"){
                    let coordenades = llistaPuntsPendents[j][keys[i]].split(",")[1];
                    let coordenadesT = coordenades.split(" ");
                    let latitud = coordenadesT[0];
                    let longitud = coordenadesT[1];
                    llistaPuntsPerPosar.push({
                        "infoPunt": nomPunt,
                        "latitudS" : latitud,
                        "longitudS" : longitud,
                        "latitudF" : parseFloat(latitud),
                        "longitudF" : parseFloat(longitud)
                    });
                }
            }
        }
        for(var k = 0; k<llistaPuntsPerPosar.length; k++){
            let position = new google.maps.LatLng(llistaPuntsPerPosar[k]['latitudF'], llistaPuntsPerPosar[k]['longitudF']);
            let dadesAMostrar = '<div id="content">'+
            '<div id="siteNotice">'+
            '</div>'+
            '<h1 id="firstHeading" class="firstHeading">'+llistaPuntsPerPosar[k]['infoPunt']+'</h1>'+
            '<div id="bodyContent">'+
            '<p><b>'+"Latitud:"+'</b>'+llistaPuntsPerPosar[k]['latitudS']+'</p>'+
            '<p><b>'+"Longitud:"+'</b>'+llistaPuntsPerPosar[k]['longitudS']+'</p>'+
            '</div>'+
            '</div>';
            let infowindow= new google.maps.InfoWindow({
                content: dadesAMostrar
            });
           let marker = new google.maps.Marker({position: position, map: map, title:llistaPuntsPerPosar[k]['infoPunt']});
            marker.addListener('click', function () {
                infowindow.open(map, marker);
            });
            llistatNousMarkers.push(marker);
            llistatTitolsNousMarkers.push({
                "titol" : llistaPuntsPerPosar[k]['infoPunt'],
                "pInteres" : marker
            });
        }

        google.maps.event.addListener(map, 'click', function (event) {
        let midaLlista = llistatNousMarkers.length;
        let marker = new google.maps.Marker({
            position: event.latLng,
            title:"Punt "+(midaLlista+1).toString(),
            map: map,
        });
        llistatNousMarkers.push(marker);
        llistatTitolsNousMarkers.push({
            "titol" : "Punt "+(midaLlista+1).toString(),
            "pInteres" : marker
        });

        let contentString = '<div id="content">'+
            '<div id="siteNotice">'+
            '</div>'+
            '<h1 id="firstHeading" class="firstHeading">'+llistatTitolsNousMarkers[llistatTitolsNousMarkers.length-1]['titol']+'</h1>'+
            '<div id="bodyContent">'+
            '<p><b>'+"Latitud:"+'</b>'+llistatTitolsNousMarkers[llistatTitolsNousMarkers.length-1]['pInteres'].getPosition().lat()+'</p>'+
            '<p><b>'+"Longitud:"+'</b>'+llistatTitolsNousMarkers[llistatTitolsNousMarkers.length-1]['pInteres'].getPosition().lng()+'</p>'+
            '</div>'+
            '</div>';
        let infowindow= new google.maps.InfoWindow({
                content: contentString
            });
        marker.addListener('click', function () {
                infowindow.open(map, marker);
            });
    });
    }else{
        google.maps.event.addListener(map, 'click', function (event) {
        let midaLlista = llistatNousMarkers.length;
        let marker = new google.maps.Marker({
            position: event.latLng,
            title:"Punt "+(midaLlista+1).toString(),
            map: map,
        });
        llistatNousMarkers.push(marker);
        llistatTitolsNousMarkers.push({
            "titol" : "Punt "+(midaLlista+1).toString(),
            "pInteres" : marker
        });

        let contentString = '<div id="content">'+
            '<div id="siteNotice">'+
            '</div>'+
            '<h1 id="firstHeading" class="firstHeading">'+llistatTitolsNousMarkers[llistatTitolsNousMarkers.length-1]['titol']+'</h1>'+
            '<div id="bodyContent">'+
            '<p><b>'+"Latitud:"+'</b>'+llistatTitolsNousMarkers[llistatTitolsNousMarkers.length-1]['pInteres'].getPosition().lat()+'</p>'+
            '<p><b>'+"Longitud:"+'</b>'+llistatTitolsNousMarkers[llistatTitolsNousMarkers.length-1]['pInteres'].getPosition().lng()+'</p>'+
            '</div>'+
            '</div>';
        let infowindow= new google.maps.InfoWindow({
                content: contentString
            });
        marker.addListener('click', function () {
                infowindow.open(map, marker);
            });
    });
    }

}


function canviEstat(){
    var checkbox = document.getElementById("esActiu");
    var actiu = document.getElementById("botoActiu");
    if(checkbox.checked == true){
        actiu.value="True";
    }else{
        actiu.value="False";
    }
}

function guardarTipus(){
    var elem = document.getElementById("tipusSeleccio");
    var inputOcult = document.getElementById("categoriaPunt");
    elem.childNodes.forEach(node => {
        if(node.selected){
            inputOcult.value=node.value;
        }
	});
}

function guardarPoblacio(){
    var elem = document.getElementById("poblacioSeleccio");
    var inputOcult = document.getElementById("poblacioG");
    elem.childNodes.forEach(node => {
        if(node.selected){
            //console.log(node.value);
            inputOcult.value = node.value;
        }
	});
}

function poblacionsPerProvincia(){
    var elem = document.getElementById("provinciaSeleccio");
    var inputOcult = document.getElementById("poblacioG");
    elem.childNodes.forEach(node => {
      if(node.selected){
            var defecte=node.value;
            $.ajax({
                type: 'GET',
                url : '/v1/geoInfoSystem/poblacions_per_provincia/',
                data:{
                    'provincia' : defecte
                },
                dataType:'json',
                success:
                    function (data){
                        var data1 = Object.values(data);
                        var pobles = Object.values(data1[0]);
                        var divpoble = document.getElementById("ubicacio");
                        divpoble.innerHTML="";
                        //console.log(pobles);
                        var sPoble = document.createElement("SELECT");
                        sPoble.setAttribute("id", "poblacioSeleccio");
                        sPoble.setAttribute("onchange", "guardarPoblacio()");
                        divpoble.appendChild(sPoble);
                        for(var j=0; j<pobles.length; j++){
                            let option = document.createElement("option");
                            option.setAttribute("value", pobles[j]+", "+defecte);
                            let t = document.createTextNode(pobles[j]+", "+defecte);
                            option.appendChild(t);
                            document.getElementById("poblacioSeleccio").appendChild(option);
                        }
                        inputOcult.value = pobles[0]+", "+defecte;
                    }
            });
      }
    });

}

function dadesSeguents() {
    var divseleccio = document.getElementById("tipusPunt");
    divseleccio.innerHTML='';
    var divpoble = document.getElementById("ubicacio");
    divpoble.innerHTML='';
    var x = document.getElementById("dadesSeguents");
    var seleccio = document.getElementById("puntsNous");
    var malament = 1;
    var tipusDades = JSON.parse(`{{categories|safe}}`);
    var categoriesToDo =[];
    var poblacions = JSON.parse(`{{ poblacions | safe }}`);
    var poblesToDo = [];
    var provincies = JSON.parse(`{{provincies | safe}}`);
    var provinciesToDo = Object.values(provincies);
    var divprova = document.getElementById("selectProvincia");
    divprova.innerHTML='';
    //console.log(provinciesToDo);

    var sProvincia = document.createElement("SELECT");
    sProvincia.setAttribute("id", "provinciaSeleccio");
    sProvincia.setAttribute("class", "form-control");
    sProvincia.setAttribute("onchange", "poblacionsPerProvincia()");
    divprova.appendChild(sProvincia);
    for(var k=0; k<provinciesToDo.length; k++){
        let option = document.createElement("option");
        option.setAttribute("value", provinciesToDo[k]);
        let t = document.createTextNode(provinciesToDo[k]);
        option.appendChild(t);
        document.getElementById("provinciaSeleccio").appendChild(option);
    }

    for (poble of poblacions){
        poblesToDo.push({
            "ciutat":poble.fields.ciutat,
            "comarca":poble.fields.comarca,
            "provincia":poble.fields.provincia
        });
    }
    //console.log(poblesToDo);
    var sPoble = document.createElement("SELECT");
    sPoble.setAttribute("id", "poblacioSeleccio");
    sPoble.setAttribute("onchange", "guardarPoblacio()");
    divpoble.appendChild(sPoble);
    for(var j=0; j<poblesToDo.length; j++){
        let option = document.createElement("option");
        option.setAttribute("value", poblesToDo[j]['ciutat']+" ("+poblesToDo[j]['comarca']+"), "+poblesToDo[j]['provincia']);
        let t = document.createTextNode(poblesToDo[j]['ciutat']+" ("+poblesToDo[j]['comarca']+"), "+poblesToDo[j]['provincia']);
        option.appendChild(t);
        document.getElementById("poblacioSeleccio").appendChild(option);
    }

    for(tipus of tipusDades){
        categoriesToDo.push({
           "categoria":tipus.fields.categoria,
        });
    }
    //console.log(categoriesToDo);
    var select = document.createElement("SELECT");
    select.setAttribute("id", "tipusSeleccio");
    select.setAttribute("class", "form-control");
    select.setAttribute("onchange", "guardarTipus()");
    divseleccio.appendChild(select);

    for(var i=0; i<categoriesToDo.length; i++){
        let option = document.createElement("option");
        option.setAttribute("value", categoriesToDo[i]['categoria']);
        let t = document.createTextNode(categoriesToDo[i]['categoria']);
        option.appendChild(t);
        document.getElementById("tipusSeleccio").appendChild(option);
    }


    seleccio.childNodes.forEach(node => {
        if(node.selected){
            if(node.value == "selectcard"){
                alert('Selecciona un punt que vulguis afegir al sistema GIS.');
                malament = 0;
            }
        }
	});
    if (malament ===1){
        x.hidden = false;
        document.getElementById("bttn_form_data_local").disabled=true;
        var bttnTancar=document.getElementById("bttn_close");
        bttnTancar.innerHTML="<i class=\"fa fa-times\" aria-hidden=\"true\"></i> Tancar tot";
    }
}

function emmagatzemarPuntuacio(){
    var puntuacio = document.getElementById("puntuacio");
    var pActual = document.getElementById("puntuacioLloc");
    puntuacio.value=pActual.value;
    //console.log(puntuacio.value);
}


function checkValues(){
    var input=document.getElementById("puntNou").value;
    if (input=='a')
        return false;
    else return true;

}

function tancarSeleccio() {
    var div = document.getElementById("nousPunts");
    var divForm = document.getElementById("dadesSeguents");
    var divTipus = document.getElementById("tipusPunt");
    var divProv = document.getElementById("selectProvincia");
    var divUbi = document.getElementById("ubicacio");
    divTipus.innerHTML='';
    divProv.innerHTML='';
    divUbi.innerHTML='';
    div.hidden=true;
    if(divForm.hidden == false){
        divForm.hidden = true;
    }
    var seleccio = document.getElementById("puntsNous");
    seleccio.innerHTML='';
    var btnMostrarPunts = document.getElementById("boto_mostrarDades");
    btnMostrarPunts.innerHTML="<i class=\"fa fa-eye\"></i> Mostra els punts";
    document.getElementById("bttn_close").innerHTML="<i class=\"fa fa-times\" aria-hidden=\"true\"></i> Tanca selecció de punts";
    document.getElementById("bttn_form_data_local").disabled=false;
}

function guardarSeleccionat(){
    var llistatPunts=[];
    var input=document.getElementById("puntNou");
    var seleccio = document.getElementById("puntsNous");
    var altresPunts = document.getElementById("altresPunsNous");
    var pAux = document.getElementById("puntAux");
    var midaLlistaPunts = document.getElementById("midaLlistatPunts");
    //console.log(seleccio.childNodes);
    var malament=1;
    seleccio.childNodes.forEach(node => {
        if(node.selected){
            if(node.value == "selectcard"){
                alert('Selecciona un punt pel qual vulguis crear.');
                malament = 0;
            }else{
                input.value = node.text+","+node.value; //nomPunt,lat lng
                pAux.value=node.text; //punt X
            }
        }
	});
    seleccio.childNodes.forEach(node =>{
        if(node.text !== pAux.value){
            llistatPunts.push(node.text+","+node.value);
        }
    });

    midaLlistaPunts.value=llistatTitolsNousMarkers.length.toString();
    var json = JSON.stringify(llistatPunts);
    altresPunts.value = json;
    //console.log(altresPunts.value);
    if(malament===1){
        document.getElementById("form_guardar_nou_punt").submit();
    }
}


function mostrarCoordenades(){
    var div = document.getElementById("nousPunts");
    var seleccio = document.getElementById("puntsNous");
    var btnMostrarPunts = document.getElementById("boto_mostrarDades");
    var p=document.getElementById("InformatiuNoPunts");
    if(llistatNousMarkers.length!== 0){
        //console.log(llistatTitolsNousMarkers);
        p.innerHTML='';
        div.hidden=false;
        if(div.hidden === false){
            seleccio.innerHTML='';
            btnMostrarPunts.innerHTML="<img style='height: 22px' src=\"https://img.icons8.com/ios/64/000000/location-update.png\"/> Actualitza llistat de punts";
        }
        for(var i = 0; i< llistatNousMarkers.length; i++){
            seleccio.innerHTML+=`<option id="`+i+`" value="`+llistatTitolsNousMarkers[i]['pInteres'].getPosition().lat().toString()+" "+llistatTitolsNousMarkers[i]['pInteres'].getPosition().lng().toString()+`">`+llistatTitolsNousMarkers[i]['titol']+`</option>`;
        }
        seleccio.innerHTML+=`<option value="selectcard" id="seleccionat" selected>--- Siusplau selecciona un punt ---</option>`;
    }else{
        p.innerHTML = p.innerHTML !== '' ? '' : '<b>No hi ha cap punt marcat en el mapa. Primer marca els punts nous.</b>';
    }
}

function eliminarTotsPuntsInteresNous(){
    var divForm = document.getElementById("dadesSeguents");
    var divTipus = document.getElementById("tipusPunt");
    var divSeleccProv = document.getElementById("selectProvincia");
    var divUbi = document.getElementById("ubicacio");
    var seleccio = document.getElementById("puntsNous");
    seleccio.innerHTML='';
    var div = document.getElementById("nousPunts");
    var btnMostrarPunts = document.getElementById("boto_mostrarDades");
    btnMostrarPunts.innerHTML="<i class=\"fa fa-eye\"></i> Mostra els punts";
    div.hidden=true;
    if (divForm.hidden == false){
        divForm.hidden = true;
    }
    divTipus.innerHTML='';
    divSeleccProv.innerHTML='';
    divUbi.innerHTML='';
    for(var i=0; i< llistatNousMarkers.length; i++){
        llistatNousMarkers[i].setMap(null);
    }
    llistatNousMarkers=[];
    document.getElementById("bttn_form_data_local").disabled=false;
    document.getElementById("bttn_close").innerHTML='<i class="fa fa-times" aria-hidden="true"></i> Tanca selecció de punts';
}

function mostraLesCoordenadesUsuari(){
    if (navigator.geolocation) {
    navigator.geolocation.getCurrentPosition(centrarMapa);
  } else {
    alert("La geolocalització no és suportada per aquest navegador. No es pot centrar el mapa.");
  }
}

function centrarMapa(position){
    var punt = new google.maps.LatLng(position.coords.latitude, position.coords.longitude);
    map.setCenter(punt);
    map.setZoom(13);
}
    </script>
    <!--Load the API from the specified URL
    * The async attribute allows the browser to render the page while the API loads
    * The key parameter will contain your own API key (which is not needed for this tutorial)
    * The callback parameter executes the initMap() function
    -->
    <script async defer
src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDZYY_D7EaLWIBwLuuXQOM2PSpsTD-5kMs&callback=initMap">
</script>


</body>
</html>