<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Informació</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
        /* Style the header with a grey background and some padding */
    .header {
      overflow: hidden;
      background-color: #f1f1f1;
      padding: 20px 10px;
    }

    /* Style the header links */
    .header a {
      float: left;
      color: black;
      text-align: center;
      padding: 12px;
      text-decoration: none;
      font-size: 18px;
      line-height: 25px;
      border-radius: 4px;
    }

    /* Style the logo link (notice that we set the same value of line-height and font-size to prevent the header to increase when the font gets bigger */
    .header a.logo {
      font-size: 25px;
      font-weight: bold;
    }

    /* Change the background color on mouse-over */
    .header a:hover {
      background-color: #ddd;
      color: black;
    }

    /* Style the active/current link*/
    .header a.active {
      background-color: dodgerblue;
      color: white;
    }

    /* Float the link section to the right */
    .header-right {
      float: right;
    }

    /* Add media queries for responsiveness - when the screen is 500px wide or less, stack the links on top of each other */
    @media screen and (max-width: 500px) {
      .header a {
        float: none;
        display: block;
        text-align: left;
      }
      .header-right {
        float: none;
      }
    }
        div#sobretfg{
            margin-top: 50px;
            margin-left: 60px;
        }

        div#informacio{
            margin-top: 50px;
        }
    </style>
</head>
<body onload="prettySite()">
    <div class="header">
        <a href="/" class="logo active"><i class="fa fa-home" aria-hidden="true"></i> Sistema d'informació Geogràfica</a>
        <div class="header-right">
            <a href="/v1/geoInfoSystem/map/"><i class="fa fa-globe" aria-hidden="true"></i> Visualitza el mapa</a>
            {% if user.is_authenticated %}
                <a href="/v1/geoInfoSystem/el_meu_espai/"><i class="fa fa-user"></i> {{ user.username }}</a>
                <a href="/v1/geoInfoSystem/tancar_sessio/"><i class="fa fa-sign-out"></i> Tanca la sessió</a>
            {% else %}
                <a href="/v1/geoInfoSystem/registrar_nou_usuari/"><i class="fa fa-sign-in"></i> Registra't</a>
                <a href="/v1/geoInfoSystem/inicia_sessio/"><i class="fa fa-check"></i> Inicia sessió</a>
            {% endif %}
        </div>
    </div>


        <div class="container col-md-5" id="informacio">
                <div class="col">
                    <div class="text-center"><h1 id="nomLloc"></h1></div>
                </div>
                <div>
                    <div class="text-center">
                        <h2 id="city"></h2>
                        <h2 id="coordenades"></h2>
                        </div>
                    <div >
                            <div class="col-lg-9">Estat de Conservació: <b id="estatconservacio"> </b></div>
                            <div class="col-lg-9">Categoria: <b id="categoria"></b></div>
                            <div class="col-lg-9">Any Construcció: <b id="anyconstruccio"></b></div>
                            <div class="col-lg-9">Superficie: <b id="superficie"></b></div>
                        </div>
                    </div>
                    <br>
                    <div>
                        Descripció:<br>
                        <p id="descripcio"></p>
                    </div>
                </div>

    {% if altres %}
            <!-- Button trigger modal -->
            <div class="container">
                <button type="button" onclick="posarCiutat()" class="btn btn-success" data-toggle="modal" data-target="#exampleModal">
              Altres punts d'interès...
            </button>
            </div>

            <!-- Modal -->
            <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                      <h5 class="modal-title" id="ModalLabel">Els altres punts que hi ha a <b id="localitat"></b> són: </h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div id="llistatPunts" class="modal-body">
                  </div>
                  <div class="modal-footer">
                    <button type="button" id="activador" onclick="mostrarInformacio()" class="btn btn-primary">Mostrar Altres punts</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                  </div>
                </div>
              </div>
            </div>
            {% else %}
            <div  class="container" id="altres">
                    <p>No hi ha més punts d'interès en aquesta localitat.</p>
                </div>
            {% endif %}

<script>
    function prettySite() {
        var h1 = document.getElementById("nomLloc");
        var estatconservacio = document.getElementById("estatconservacio");
        var categoria = document.getElementById("categoria");
        var coordenades = document.getElementById("coordenades");
        var city  = document.getElementById("city");
        var superficie = document.getElementById("superficie");
        var anyconstruccio = document.getElementById("anyconstruccio");
        var descripcio = document.getElementById("descripcio");
        var punts= JSON.parse(`{{puntInteres | safe}}`);
        var locals =JSON.parse(`{{local | safe}}`);
        var localitat = `{{localitat|safe}}`;
        var categoriaa = `{{categoria|safe}}`;
        var pointToDo=[];
        var localToDo=[];
        for(local of locals){
            localToDo.push({
                "localitzacio" : local.fields.localitzacio,
                "nomLocal" : local.fields.nomLocal,
                "puntuacio" : local.fields.estat_conservacio,
                "puntuacioS" : local.fields.estat_conservacio.toString(),
                "categoria" : local.fields.categoria,
                "anyConstruccio" : local.fields.anyConstruccio,
                "anyConstruccioS" : local.fields.anyConstruccio.toString(),
                "descripcio" : local.fields.descripcio
            });
        }
        console.log(localToDo);
        for(punt of punts){
            pointToDo.push({
                "pk" : punt.pk,
                "latitud" : punt.fields.latitud,
                "longitud" : punt.fields.longitud,
                "latitudS" : punt.fields.latitud.toString(),
                "longitudS" : punt.fields.longitud.toString(),
                "Superficie" : punt.fields.superficie.toString(),
                "Localitat" : punt.fields.localitat.toString()
            });
        }
        console.log(pointToDo);
        h1.innerHTML = localToDo[0]['nomLocal'];
        city.innerHTML =localitat;
        estatconservacio.innerHTML = localToDo[0]['puntuacioS'];
        categoria.innerHTML = categoriaa;
        anyconstruccio.innerHTML=localToDo[0]['anyConstruccioS'];
        superficie.innerHTML = pointToDo[0]['Superficie'];
        coordenades.innerHTML= "("+pointToDo[0]['latitudS']+","+pointToDo[0]['longitudS']+")";
        descripcio.innerHTML = localToDo[0]['descripcio'];
    }
    function posarCiutat(){
        var localitat = `{{localitat|safe}}`;
        var nomLocalitat=document.getElementById("localitat");
        nomLocalitat.innerText=localitat;
    }
    function mostrarInformacio(){
        var nomLocalitat=document.getElementById("localitat");
        var textToIntroduce = document.getElementById("llistatPunts");
        var locals= JSON.parse(`{{altresLocals | safe}}`);
        var punts =JSON.parse(`{{altresPuntsInteres | safe}}`);
        var localitat = `{{localitat|safe}}`;
        var pointsToDo=[];
        var localsToDo=[];
        for(local of locals){
            localsToDo.push({
                "localitzacio" : local.fields.localitzacio,
                "nomLocal" : local.fields.nomLocal,
                "puntuacio" : local.fields.estat_conservacio,
                "puntuacioS" : local.fields.estat_conservacio.toString(),
                "categoria" : local.fields.categoria,
                "anyConstruccio" : local.fields.anyConstruccio,
                "anyConstruccioS" : local.fields.anyConstruccio.toString(),
                "descripcio" : local.fields.descripcio
            });
        }
        console.log(localsToDo);
        for(punt of punts){
            pointsToDo.push({
                "pk" : punt.pk ,
                "latitud" : punt.fields.latitud,
                "longitud" : punt.fields.longitud,
                "latitudS" : punt.fields.latitud.toString(),
                "longitudS" : punt.fields.longitud.toString(),
                "Superficie" : punt.fields.superficie.toString(),
                "Localitat" : punt.fields.localitat.toString()
            });
        }
        console.log(pointsToDo);
        nomLocalitat.innerText=localitat;
        let url;

        for(var i=0; i<pointsToDo.length; i++){
        for(var j=0; j<localsToDo.length; j++){
            if(pointsToDo[i]['pk'] == localsToDo[j]['localitzacio']){
              url =`localhost:8000/v1/geoInfoSystem/info_especifica/`+localsToDo[j]['nomLocal']+`/`+pointsToDo[i]['latitud']+`/`+pointsToDo[i]['longitud']+`/`;
              url = encodeURI(url);
              console.log(url);
              let button = document.createElement("a");
              button.innerText=localsToDo[j]['nomLocal'];
              button.href=url;
              button.target="_blank";
              button.rel="noopener noreferrer";
              textToIntroduce.appendChild(button);
              textToIntroduce.innerHTML+='<br>';
          }
        }
      }
      var botoActivador = document.getElementById("activador");
      botoActivador.disabled=true;
  }

</script>


</body>
</html>