<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Mapa</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css" integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ==" crossorigin=""/>
    <script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js" integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew==" crossorigin=""></script>
    <script src='https://api.mapbox.com/mapbox.js/plugins/leaflet-fullscreen/v1.0.1/Leaflet.fullscreen.min.js'></script>
    <link href='https://api.mapbox.com/mapbox.js/plugins/leaflet-fullscreen/v1.0.1/leaflet.fullscreen.css' rel='stylesheet' />
    <style>
        /* Style the header with a grey background and some padding */
    .header {
      overflow: hidden;
      background-color: #f1f1f1;
      padding: 20px 10px;
    }

    /* Style the header links */
    .header a {
      float: left;
      color: black;
      text-align: center;
      padding: 12px;
      text-decoration: none;
      font-size: 18px;
      line-height: 25px;
      border-radius: 4px;
    }

    /* Style the logo link (notice that we set the same value of line-height and font-size to prevent the header to increase when the font gets bigger */
    .header a.logo {
      font-size: 25px;
      font-weight: bold;
    }

    /* Change the background color on mouse-over */
    .header a:hover {
      background-color: #ddd;
      color: black;
    }

    /* Style the active/current link*/
    .header a.active {
      background-color: dodgerblue;
      color: white;
    }

    /* Float the link section to the right */
    .header-right {
      float: right;
    }

    /* Add media queries for responsiveness - when the screen is 500px wide or less, stack the links on top of each other */
    @media screen and (max-width: 500px) {
      .header a {
        float: none;
        display: block;
        text-align: left;
      }
      .header-right {
        float: none;
      }
    }
    #map {
        height: 400px;  /* The height is 400 pixels */
        width: 100%;  /* The width is the width of the web page */
       }

    .same-line-block-elem1{
        display: inline-block;
        margin-right: 10px;
    }
    .same-line-block-elem2{
        display: inline-block;
    }

    .parent #popup{
        display: none;
    }
    .parent:hover #popup{
        display: block;
    }
    .legend{
        background:white;
    }
    .circle{
        height: 10px;
      width: 10px;
      border-radius: 20%;
    }

    </style>


</head>
<body onload="iniPagina()">
    <div class="header">
        <a href="/" class="logo active"><i class="fa fa-home" aria-hidden="true"></i> Sistema d'Informació Geogràfica</a>
        <div class="header-right">
            <a id="pgRand"><i class="fa fa-info" aria-hidden="true"></i> Informació aleatòria d'un local</a>
            <a href="/v1/geoInfoSystem/estadistiquesGIS/"><img style="height: 20px" src="https://img.icons8.com/ios/50/000000/statistics.png"> Mòdul estadístic</a>
            {% if user.is_staff and user.is_superuser %}
                <a href="/v1/geoInfoSystem/nouPunt/"><i class="fa fa-magic"></i> Afegir nous punts</a>
            {% endif %}
            {% if user.is_authenticated %}
                <a href="/v1/geoInfoSystem/el_meu_espai/"><i class="fa fa-user"></i> {{ user.username }}</a>
                <a href="/v1/geoInfoSystem/tancar_sessio/"><i class="fa fa-sign-out"></i> Tanca la sessió</a>
            {% else %}
                <a href="/v1/geoInfoSystem/registrar_nou_usuari/"><i class="fa fa-sign-in"></i> Registra't</a>
                <a href="/v1/geoInfoSystem/inicia_sessio/"><i class="fa fa-check"></i> Inicia sessió</a>
            {% endif %}
        </div>
    </div>
    <br>
    <h1 class="text-center">Informació Geogràfica</h1>
    <hr>
    <div class="container">
        <h2><img src="https://img.icons8.com/ios/64/000000/worldwide-location.png"/> Sistema GIS</h2>
        <div style="float:none; margin:auto;">
            <br>
            <div id="mapid" style="height: 400px"></div>
        </div>
    </div>
    <br>
    {%if hi_ha_grafic%}
        <div class="container card card-body">
            <div class="text-centre">
                Per a fer més consultes i veure el resultat en forma de graella, visiteu el <a href="/v1/geoInfoSystem/estadistiquesGIS/">Mòdul estadístic</a>.
            </div>
            <div style="display: inline-block">
                <div style="display: inline-block">
                {%ifnotequal grafic_usos_categories|stringformat:"s" 'buit' %}
                    <img src="data:image/png;base64,{{grafic_usos_categories|safe}}" width=500 height=auto>
                {%endifnotequal%}
                </div>
                <div class="offset-md-1" style="display: inline-block">
                    {%ifnotequal grafic_actius_noactius|stringformat:"s" 'buit'%}
                    <img src="data:image/png;base64,{{grafic_actius_noactius|safe}}" width="500" height="auto">
                    {%endifnotequal%}
                </div>
            </div>
        </div>
    {%else%}
        {%if user.is_authenticated and user.is_staff and user.is_superuser%}
            <div class="container card card-body">
                <div class="text-centre">
                    Afegeix punts d'interès al sistema GIS i els veuràs en aquesta pantalla. Tens dues formes:
                    <ul>
                        <li>Afegeix-los manualment a través de la pantalla d'<a href="/v1/geoInfoSystem/nouPunt/">Afegeix nou punt</a>. També tens accés a través de la barra superior.</li>
                        <li>Afegeix-los manualment important un fitxer CSV a través del <a href="/v1/geoInfoSystem/motorImportacio/">Motor d'Importació</a>.</li>
                    </ul>
                </div>
            </div>
        {%else%}
            <div class="container card card-body">
                <div class="text-center">
                    Encara no hi ha informació en el sistema GIS. Espera a que els administradors de la pàgina afegeixin informació.
                </div>
            </div>
        {%endif%}
    {%endif%}
    <br><br>
<script>
var mymap;
var categoriesDB=JSON.parse(`{{categoriesDB | safe}}`);
var categoriesDBToDo=[];
var categoriaRestauracio=[];
var categoriaCultura=[];
var categoriaHabitatge=[];
var categoriaCongres=[];
var categoriaUniversitat=[];
var totsMarkers=[];
    for(categoria of categoriesDB){
        categoriesDBToDo.push({
            "categoria" : categoria.fields.categoria
        });
    }
function iniPagina() {

    mymap = L.map('mapid', {fullscreenControl: true}).setView([41.8204600, 1.8676800], 7);
    L.tileLayer('https://api.mapbox.com/styles/v1/{id}/tiles/{z}/{x}/{y}?access_token=pk.eyJ1IjoiY2VzY2Z0IiwiYSI6ImNrOTA0OWlxYTAxd2czdHFkMWt2eDVjN20ifQ.ORNTQ7oImBoHmaGJ_jGYvg', {
        attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors, <a href="https://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
        maxZoom: 18,
        id: 'mapbox/streets-v11',
        tileSize: 512,
        zoomOffset: -1,
        accessToken: 'pk.eyJ1IjoiY2VzY2Z0IiwiYSI6ImNrOTA0OWlxYTAxd2czdHFkMWt2eDVjN20ifQ.ORNTQ7oImBoHmaGJ_jGYvg'
    }).addTo(mymap);
   var legend = L.control({position: 'bottomright'});
    legend.onAdd = function (mymap) {
        var div = L.DomUtil.create('div', 'info legend');
        var labels = ['<strong>Categories</strong>'];

        for (var i = 0; i < categoriesDBToDo.length; i++) {
                labels.push('<div class="circle" style="background:'+getcolorCategoria(categoriesDBToDo[i]['categoria'])+'; display: inline-block;"></div><div style="display: inline-block;"><b><i>'+categoriesDBToDo[i]["categoria"]+'</i></b></div>');
        }

        div.innerHTML = labels.join('<br>');
        return div;
    };
    legend.addTo(mymap);
    var nomLocalRand = `{{ nomLocalRand | safe }}`;
    var latitudRand = `{{ latitudRand | safe }}`;
    var longitudRand = `{{ longitudRand | safe }}`;
    var punts = JSON.parse('{{ puntsInteres | safe }}');
    var locals = JSON.parse(`{{ locals | safe }}`);
    var localitzacions = JSON.parse(`{{ localitzacionsMapa | safe }}`);
    var categories = JSON.parse(`{{ categoriesMapa | safe }}`);

    var posicioPuntInteres;
    var pointsToDo = [];
    var localsToDo = [];
    var localitzacionsToDo = [];
    var categoriesToDo = [];


    for (categoria of categories) {
        categoriesToDo.push({
            "pk": categoria.pk,
            "categoria": categoria.fields.categoria
        });
    }

    //console.log(categoriesToDo);

    for (localitzacio of localitzacions) {
        localitzacionsToDo.push({
            "pk": localitzacio.pk,
            "ciutat": localitzacio.fields.ciutat,
            "comarca": localitzacio.fields.comarca,
            "provincia": localitzacio.fields.provincia
        });
    }
    //console.log(localitzacionsToDo);

    for (local of locals) {
        localsToDo.push({
            "localitzacio": local.fields.localitzacio,
            "nomLocal": local.fields.nomLocal,
            "puntuacio": local.fields.estat_conservacio,
            "puntuacioS": local.fields.estat_conservacio.toString(),
            "categoria": local.fields.categoria,
            "anyConstruccio": local.fields.anyConstruccio,
            "anyConstruccioS": local.fields.anyConstruccio.toString(),
            "descripcio": local.fields.descripcio
        });
    }
    //console.log(localsToDo);
    for (punt of punts) {
        pointsToDo.push({
            "pk": punt.pk,
            "latitud": punt.fields.latitud,
            "longitud": punt.fields.longitud,
            "latitudS": punt.fields.latitud.toString(),
            "longitudS": punt.fields.longitud.toString(),
            "Superficie": punt.fields.superficie.toString(),
            "Localitat": punt.fields.localitat.toString()
        });
    }

    document.getElementById("pgRand").setAttribute("href", "/v1/geoInfoSystem/info_especifica/" + encodeURI(nomLocalRand) + "/" + latitudRand + "/" + longitudRand + "/");




    for (var i = 0; i < pointsToDo.length; i++) {
        for (var j = 0; j < localsToDo.length; j++) {
            if (pointsToDo[i]['pk'] == localsToDo[j]['localitzacio']) {
                //console.log(localsToDo[j]['descripcio']);
                let fkLocalitat = pointsToDo[i]['Localitat'];
                let ciutat = localitzacionsToDo.find(x => x.pk == fkLocalitat).ciutat;
                let comarca = localitzacionsToDo.find(x => x.pk == fkLocalitat).comarca;
                let provincia = localitzacionsToDo.find(x => x.pk == fkLocalitat).provincia;
                let fkCategoria = localsToDo[j]['categoria'];
                let categoria = categoriesToDo.find(x => x.pk == fkCategoria).categoria;
                var string = "";
                string += "<div>";
                string += "<table>";
                string += "<thread><tr><th><b>INFORMACIÓ D'INTERÈS:</b></th></tr></thread>";
                string += "<tr><td><b>- Categoria:</b></td> <td> " + categoria + "</td></tr>";
                string += "<tr><td><b>- Any Construcció:</b></td> <td> " + localsToDo[j]['anyConstruccioS'] + "</td></tr>";
                string += "<tr><td><b>- Localitat:</b></td> <td> " + ciutat + " (" + comarca + "), " + provincia + ", Catalunya</td></tr>";
                string += "</table>";
                string += "</div>";
                var url = "localhost:8000/v1/geoInfoSystem/info_especifica/" + localsToDo[j]['nomLocal'] + "/" + pointsToDo[i]['latitud'] + "/" + pointsToDo[i]['longitud'] + "/";
                url = encodeURI(url);

                let contentString = '<div id="content">' +
                    '<div id="siteNotice">' +
                    '</div>' +
                    '<div id="bodyContent">' +
                    '<table><tr><p><b>' + localsToDo[j]['nomLocal'] + '</b><tr>' + localsToDo[j]['descripcio'] + '</p></tr></tr></table>' +
                    string +
                    '<a target="_blank" rel="noopener noreferrer" href=' + url + '>Click aquí per a més informació</a>' +
                    '</div>' +
                    '</div>';

                let icona=seleccionarIconaPerCategoria(categoria);
                let marker = L.marker([pointsToDo[i]['latitud'], pointsToDo[i]['longitud']], {icon:icona}).bindPopup(contentString);
                classificarMarker(marker,categoria);
                totsMarkers.push(marker);
            }
        }
    }
    var cat_restauracio=L.layerGroup(categoriaRestauracio);
    var cat_cultura=L.layerGroup(categoriaCultura);
    var cat_habitatge=L.layerGroup(categoriaHabitatge);
    var cat_congres=L.layerGroup(categoriaCongres);
    var cat_universitat=L.layerGroup(categoriaUniversitat);
    var tots=L.layerGroup(totsMarkers);
    var overlayMaps={
        "Restauració": cat_restauracio,
        "Cultura":cat_cultura,
        "Habitatge":cat_habitatge,
        "Congrés": cat_congres,
        "Universitat":cat_universitat,
        "Tots els punts": tots
    };
    L.control.layers(overlayMaps).addTo(mymap);
    tots.addTo(mymap);
}
function classificarMarker(marker, categoria){
    switch(categoria){
        case categoriesDBToDo[0]['categoria']:
            categoriaRestauracio.push(marker);
            break;
        case categoriesDBToDo[1]['categoria']:
            categoriaCultura.push(marker);
            break;
        case categoriesDBToDo[2]['categoria']:
            categoriaHabitatge.push(marker);
            break;
        case categoriesDBToDo[3]['categoria']:
            categoriaCongres.push(marker);
            break;
        case categoriesDBToDo[4]['categoria']:
            categoriaUniversitat.push(marker);
            break;
    }
}
function seleccionarIconaPerCategoria(categoria_local){
    switch (categoria_local) {
        case categoriesDBToDo[0]['categoria']:
            return new L.Icon({
                  iconUrl: 'https://cdn.rawgit.com/pointhi/leaflet-color-markers/master/img/marker-icon-2x-green.png',
                  shadowUrl: 'https://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.7/images/marker-shadow.png',
                  iconSize: [25, 41],
                  iconAnchor: [12, 41],
                  popupAnchor: [1, -34],
                  shadowSize: [41, 41]});
        case categoriesDBToDo[1]['categoria']:
            return new L.Icon({
                  iconUrl: 'https://cdn.rawgit.com/pointhi/leaflet-color-markers/master/img/marker-icon-2x-blue.png',
                  shadowUrl: 'https://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.7/images/marker-shadow.png',
                  iconSize: [25, 41],
                  iconAnchor: [12, 41],
                  popupAnchor: [1, -34],
                  shadowSize: [41, 41]});
        case categoriesDBToDo[2]['categoria']:
            return new L.Icon({
                  iconUrl: 'https://cdn.rawgit.com/pointhi/leaflet-color-markers/master/img/marker-icon-2x-red.png',
                  shadowUrl: 'https://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.7/images/marker-shadow.png',
                  iconSize: [25, 41],
                  iconAnchor: [12, 41],
                  popupAnchor: [1, -34],
                  shadowSize: [41, 41]});
        case categoriesDBToDo[3]['categoria']:
            return new L.Icon({
                  iconUrl: 'https://cdn.rawgit.com/pointhi/leaflet-color-markers/master/img/marker-icon-2x-orange.png',
                  shadowUrl: 'https://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.7/images/marker-shadow.png',
                  iconSize: [25, 41],
                  iconAnchor: [12, 41],
                  popupAnchor: [1, -34],
                  shadowSize: [41, 41]});
        case categoriesDBToDo[4]['categoria']:
            return new L.Icon({
                  iconUrl: 'https://cdn.rawgit.com/pointhi/leaflet-color-markers/master/img/marker-icon-2x-gold.png',
                  shadowUrl: 'https://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.7/images/marker-shadow.png',
                  iconSize: [25, 41],
                  iconAnchor: [12, 41],
                  popupAnchor: [1, -34],
                  shadowSize: [41, 41]});
    }
}
function getcolorCategoria(categoria_passada){
    switch (categoria_passada) {
         case categoriesDBToDo[0]['categoria']:
            return "#2AAD27";
        case categoriesDBToDo[1]['categoria']:
            return "#2A81CB";
        case categoriesDBToDo[2]['categoria']:
            return "#CB2B3E";
        case categoriesDBToDo[3]['categoria']:
            return "#CB8427";
        case categoriesDBToDo[4]['categoria']:
            return "#FFD326";

    }
}
</script>
</body>
</html>