{% extends 'home/base.html' %}
{% block title %} El meu espai - {{ user.username }}{% endblock %}
{% block content %}
<body onload="randInfo()">
    <br>
    <div style="text-align: center">
        {%if user.first_name and user.last_name %}
        <h1>Perfil personal de <b>{{user.first_name}} {{user.last_name}}</b></h1>
        {% elif user.first_name and not user.last_name %}
        <h1>Perfil personal de <b>{{user.first_name}}</b></h1>
        {%else%}
        <h1>Perfil personal de <b>{{user.username}}</b></h1>
        {% endif %}
    </div>
    <hr>
    <div class="container">
    <h2>Informació personal</h2>
    <div class="row">
        <div style="display: block; margin-left: auto; margin-right: auto; width: 40%;" class="card card-body">
            <div class="row">
                <div class="col-sm">
                    <label><b>Nom d'usuari</b></label>
                </div>
                <div class="col-sm" style="margin-right: 750px">{{user.username}}</div>
            </div>
            <div class="row">
                <div class="col-sm">
                    <label><b>Correu electrònic</b></label>
                </div>
                <div class="col-sm" style="margin-right: 750px">
                    {% if user.email %}
                        {{user.email}}
                    {% else %}
                        <a href="/v1/geoInfoSystem/actualitzar_camps/E%20n%20c%20p/">Afegeix correu</a>.
                    {% endif %}
                </div>
            </div>
            <div class="row">
                <div class="col-sm">
                    <label><b>Nom</b></label>
                </div>
                <div class="col-sm" style="margin-right: 750px">
                    {% if user.first_name %}
                        {{user.first_name}}
                    {% else %}
                        <a href="/v1/geoInfoSystem/actualitzar_camps/e%20N%20c%20p/">Afegeix nom</a>.
                    {% endif %}
                </div>
            </div>
            <div class="row">
                <div class="col-sm">
                    <label><b>Cognom(s)</b></label>
                </div>
                <div class="col-sm" style="margin-right: 750px">
                    {%if user.last_name%}
                        {{user.last_name}}
                    {%else%}
                        <a href="/v1/geoInfoSystem/actualitzar_camps/e%20n%20C%20p/">Afegeix cognom</a>.
                    {%endif%}
                </div>
            </div>
            <br>
            <label><b>Canvi de contrassenya <i class="fa fa-edit"></i></b></label>
            <p style="margin-left: 15px">En cas d'haver detectat algun problema de seguretat, pots canviar-la en qualsevol moment fent click <a href="/v1/geoInfoSystem/actualitzar_camps/e%20n%20c%20P/">aquí</a>.</p>
            <label><b>Canvi de correu electrònic <i class="fa fa-edit"></i></b></label>
            <p style="margin-left: 15px">En qualsevol moment pots canviar el teu correu electrònic fent click <a href="/v1/geoInfoSystem/actualitzar_camps/E%20n%20c%20p/">aquí</a>.</p>
            <br>
            <div class="text-center"><label><b><i class="fa fa-clock-o" aria-hidden="true"></i></b> {{user.last_login}}</label></div>
        </div>
    </div>
</div>
<br>
<div class="container">
    <h2>Accions reservades</h2>
    <div class="row">
        <div style="display: block; margin-left: auto; margin-right: auto; width: 40%;" class="card card-body">
            {% if user.is_staff and user.is_superuser %}
            <div class="row">
                <div class="col-sm-6">
                    <div class="card" style="width: 18rem;">
                      <div class="card-body">
                        <h5 class="card-title" style="text-align: center"><img src="https://img.icons8.com/ios-glyphs/30/000000/admin-settings-male.png"/></h5>
                        <h6 class="card-subtitle mb-2 text-muted" style="text-align: center">Administració</h6>
                        <p class="card-text" class="justify">En aquesta pàgina podràs administrar usuaris i punts d'interès del sistema GIS.</p>
                        <div class="text-center"><a href="/admin/" type="button">Administrar web</a></div>
                      </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="card" style="width: 18rem;">
                      <div class="card-body">
                        <h5 class="card-title" style="text-align: center"><img style="height: 35px" src="https://img.icons8.com/material-sharp/64/000000/map-editing.png"/></h5>
                        <h6 class="card-subtitle mb-2 text-muted" style="text-align: center">Afegir nous punts</h6>
                        <p class="card-text" class="justify">En aquesta pàgina podràs afegir els nous punts que vulguis en el sistema GIS.</p>
                        <div class="text-center"><a href="/v1/geoInfoSystem/nouPunt/">Afegeix punts</a></div>
                      </div>
                    </div>
                </div>
            </div>
            {% endif %}
            <br>
            <div class="row">
                <div class="col-sm-6">
                    <div class="card" style="width: 18rem;">
                      <div class="card-body">
                        <h5 class="card-title" style="text-align: center"><img style="height: 35px" src="https://img.icons8.com/material/80/000000/map-marker--v1.png"/></h5>
                        <h6 class="card-subtitle mb-2 text-muted" style="text-align: center">Consulta el mapa</h6>
                        <p class="card-text" class="justify">En aquesta pàgina podràs visualitzar els punts d'interès i fer consultes sobre el sistema GIS.</p>
                        <div class="text-center"><a href="/v1/geoInfoSystem/map/" type="button">Visualitza el mapa</a></div>
                      </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="card" style="width: 18rem;">
                      <div class="card-body">
                        <h5 class="card-title" style="text-align: center"><img style="height: 35px" src="https://img.icons8.com/ios-filled/50/000000/statistics.png"/></h5>
                        <h6 class="card-subtitle mb-2 text-muted" style="text-align: center">Consultes al sistema GIS</h6>
                        <p class="card-text" class="justify">En la pàgina on es visualitza el mapa, també pots fer consultes al sistema GIS. Ves-hi directe!</p>
                        <div class="text-center"><a href="/v1/geoInfoSystem/estadistiquesGIS/" type="button">Fer consultes</a></div>
                      </div>
                    </div>
                </div>
            </div>
            <br>
            <div class="row">
                 <div class="col-sm-6">
                    <div class="card" style="width: 18rem;">
                      <div class="card-body">
                        <h5 class="card-title" style="text-align: center"><img style="height: 25px;" src="https://img.icons8.com/ios-filled/48/000000/shuffle.png"/></h5>
                        <h6 class="card-subtitle mb-2 text-muted" style="text-align: center">Informació aleatòria</h6>
                        <p class="card-text" class="justify">Consulta informació aleatòria d'un punt d'interès del sistema GIS.</p>
                        <div class="text-center"><a id="localRand" target="_blank" rel="noopener noreferrer" type="button">Local aleatori</a></div>
                      </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="card" style="width: 18rem;">
                      <div class="card-body">
                        <h5 class="card-title" style="text-align: center"><img style="height: 35px" src="https://img.icons8.com/ios-filled/64/000000/no-entry.png"/></h5>
                        <h6 class="card-subtitle mb-2 text-muted" style="text-align: center">Donar-me de baixa</h6>
                        <p class="card-text" class="justify">Vols donar-te de baixa del lloc web?</p>
                        <div class="text-center"><button style="margin:0px auto;" type="button" class="btn btn-outline-danger" data-toggle="modal" data-target="#modalBaixa">Donar-me de baixa</button></div>
                      </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<br><br>

<div class="modal fade" id="modalBaixa" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Donar-me de baixa</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          <div class="text-center" style="font-size:50px; color:#ff6300"><i class="fa fa-exclamation-triangle" aria-hidden="true"></i></div>
        <p> Vols donar-te de baixa del lloc web? Si ho fas, hauràs de tornar a registrar-te i a més perdràs accés als espais reservats per a usuaris.</p>
      </div>
      <div class="modal-footer">
          <a href="/v1/geoInfoSystem/baixa_usuari/" class="badge badge-danger">Baixa</a>
      </div>
    </div>
  </div>
</div>

<script>
    function randInfo(){
        var nomLocal=`{{nomLocal | safe}}`;
        var latitud=`{{latitud | safe}}`;
        var longitud=`{{longitud | safe}}`;
        var a = document.getElementById("localRand");
        var uri = 'http://localhost:8000/v1/geoInfoSystem/info_especifica/'+nomLocal+'/'+latitud+'/'+longitud+'/';
        uri=encodeURI(uri);
        a.setAttribute("href", uri);
    }
</script>
</body>
{% endblock %}