{% extends 'home/base.html' %}
{% block title %} Modificació del perfil - {{ user.username }}{% endblock %}
{% block content %}
<body>
<br>
<h1 class="text-center">Actualització dels camps</h1>
<hr>
<div class="container">
    {%if chMail %}
    <h2><img src="https://img.icons8.com/ios-filled/50/000000/update-left-rotation.png"/> Canvi de {{label_correuElectronic|safe}}</h2>
    <p style="margin-left: 25px">En el següent formulari tens l'oportunitat de canviar o afegir el {{label_correuElectronic|safe}} del teu perfil</p>
    <div style="display: block; margin-left: auto; margin-right: auto; width: 40%;">
        <div class="form-group border p-3">
            <div id="errorsMail"></div>
            <br>
            <form id="form_update_mail" method="POST" action="/v1/geoInfoSystem/actualitzar_camps/actualitzaMail/">
                {% csrf_token %}
                <div class="form-group">
                    <div class="row">
                        <div class="col-sm">
                            <label><b>Nou {{label_correuElectronic|safe}}</b></label>
                        </div>
                        <div class="col-sm">
                            <input type="email" id="mail" name="email"  onkeyup="checkEmptyMails()" placeholder="correu@exemple.com" required>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-sm">
                            <label><b>Repeteix el {{label_correuElectronic|safe}}</b></label>
                        </div>
                        <div class="col-sm">
                            <input type="email"  id="mail1" name="email1" onkeyup="checkEmptyMails()" placeholder="correu@exemple.com" required>
                        </div>
                    </div>
                </div>
            </form>
            <br>
            <div class="text-center"><button type="submit" name="submit_update" onclick="checkMails()" id="bttn_update_mail" class="btn btn-success" disabled><i class="fa fa-edit"></i> Actualitza el correu</button></div>
            <br>
            <div class="text-center"><p>Vols tornar al teu perfil? <a href="/v1/geoInfoSystem/el_meu_espai/">Torna al teu perfil</a>.</p></div>
        </div>
    </div>
{%elif chNom %}
    <h2><img src="https://img.icons8.com/ios-filled/50/000000/update-left-rotation.png"/> Canvi de {{label_nom|safe}}</h2>
    <p style="margin-left: 25px">En el següent formulari tens l'oportunitat d'afegir el {{label_nom|safe}}</p>
    <div style="display: block; margin-left: auto; margin-right: auto; width: 40%;">
        <div class="form-group border p-3">
            <div id="errorsNom"></div>
            <br>
            <form id="form_update_nom" method="POST" action="/v1/geoInfoSystem/actualitzar_camps/actualitzaNom/">
                {% csrf_token %}
                <div class="form-group">
                    <div class="row">
                        <div class="col-sm">
                            <label><b>Nou {{label_nom|safe}}</b></label>
                        </div>
                        <div class="col-sm">
                            <input type="text" id="first_name"  onkeyup="checkEmptyNames()" name="first_name" placeholder="Nom" required>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="row">
                        <div class="col-sm">
                            <label><b>Repeteix el nou {{label_nom|safe}}</b></label>
                        </div>
                        <div class="col-sm">
                            <input type="text" id="first_name1" onkeyup="checkEmptyNames()" name="first_name1" placeholder="Repeteix nom" required>
                        </div>
                    </div>
                </div>
            </form>
            <br>
            <div class="text-center"><button type="submit" name="submit_update" onclick="checkNames()" id="bttn_update_name" class="btn btn-success" disabled><i class="fa fa-edit"></i> Actualitza el nom</button></div>
            <br>
            <div class="text-center"><p>Vols tornar al teu perfil? <a href="/v1/geoInfoSystem/el_meu_espai/">Torna al teu perfil</a>.</p></div>
        </div>
    </div>
{%elif chCog %}
    <h2><img src="https://img.icons8.com/ios-filled/50/000000/update-left-rotation.png"/> Canvi de {{label_cognom|safe}}</h2>
    <p style="margin-left: 25px">En el següent formulari tens l'oportunitat d'afegir els {{label_cognom|safe}}s</p>
    <div style="display: block; margin-left: auto; margin-right: auto; width: 40%;">
        <div class="form-group border p-3">
            <div id="errorsCognom"></div>
            <br>
            <form id="form_update_cognom" method="POST" action="/v1/geoInfoSystem/actualitzar_camps/actualitzaCognom/">
                {% csrf_token %}
                <div class="form-group">
                    <div class="row">
                        <div class="col-sm">
                            <label><b>Nous {{label_cognom|safe}}s</b></label>
                        </div>
                        <div class="col-sm">
                            <input type="text"  id="last_name"  onkeyup="checkEmptySurnames()"  name="last_name" placeholder="Cognoms" required>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="row">
                        <div class="col-sm">
                            <label><b>Repeteix els {{label_cognom|safe}}s</b></label>
                        </div>
                        <div class="col-sm">
                            <input type="text"  id="last_name1" onkeyup="checkEmptySurnames()"  name="last_name1" placeholder="Repeteix cognoms" required>
                        </div>
                    </div>
                </div>
            </form>
            <br>
            <div class="text-center"><button type="submit" name="submit_update"  onclick="checkSurnames()"  id="bttn_update_surname" class="btn btn-success" disabled><i class="fa fa-edit"></i> Actualitza el Cognom</button></div>
            <br>
            <div class="text-center"><p>Vols tornar al teu perfil? <a href="/v1/geoInfoSystem/el_meu_espai/">Torna al teu perfil</a>.</p></div>
        </div>
    </div>
{%elif chPass %}
    <h2><img src="https://img.icons8.com/ios-filled/50/000000/update-left-rotation.png"/> Canvi de {{label_contrasenya|safe}}</h2>
    <p style="margin-left: 25px">En el següent formulari tens l'oportunitat de canviar la {{label_contrasenya|safe}}</p>
    <div style="display: block; margin-left: auto; margin-right: auto; width: 40%;">
        <div class="form-group border p-3">
            <div id="errorsContrassenya"></div>
            <br>
            <form id="form_update_contrassenya" method="POST" action="/v1/geoInfoSystem/actualitzar_camps/actualitzaContrassenya/">
                {% csrf_token %}
                <div class="form-group">
                    <div class="row">
                        <div class="col-sm">
                            <label><b>Nova {{label_contrasenya|safe}}</b></label>
                        </div>
                        <div class="col-sm">
                            <input type="password" id="password" onkeyup="checkEmptyPasswd()" name="password" placeholder="Contrasenya" required>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="row">
                        <div class="col-sm">
                            <label><b>Repeteix la nova {{label_contrasenya|safe}}</b></label>
                        </div>
                        <div class="col-sm">
                            <input type="password" id="password1" onkeyup="checkEmptyPasswd()" name="password1" placeholder="Repeteix contrasenya" required>
                        </div>
                    </div>
                </div>
            </form>
            <br>
            <div class="text-center"><button type="submit" name="submit_update" onclick="checkPasswd()" id="bttn_update_password" class="btn btn-success" disabled><i class="fa fa-edit"></i> Canvia la contrasenya</button></div>
            <br>
            <div class="text-center"><p>Vols tornar al teu perfil? <a href="/v1/geoInfoSystem/el_meu_espai/">Torna al teu perfil</a>.</p></div>
        </div>
    </div>
{%endif%}
</div>
<script>
    function checkEmptyMails(){
        $.ajax({
            type: 'GET',
            url : '/v1/geoInfoSystem/comprovar_mails_buits_update/',
            data:{
                'mail1' : document.getElementById("mail").value,
                'mail2' : document.getElementById("mail1").value
            },
            dataType:'json',
            success:
                function (data){
                    var info = Object.values(data)[0];
                    if(info ==='true'){
                        document.getElementById("bttn_update_mail").disabled=false;
                    }else{
                        document.getElementById("bttn_update_mail").disabled=true;
                    }
                }
        });
    }
    function checkMails(){
        $.ajax({
            type: 'GET',
            url : '/v1/geoInfoSystem/comprovar_mails_update/',
            data:{
                'mail1' :  document.getElementById("mail").value,
                'mail2' : document.getElementById("mail1").value
            },
            dataType:'json',
            success:
                function (data){
                    var info = Object.values(data)[0];
                    if(info ==='false'){
                        document.getElementById("errorsMail").innerHTML='Els dos camps no coincideixen o no té format mail.';
                        document.getElementById("errorsMail").style.color="red";
                    }else{
                        document.getElementById("form_update_mail").submit();
                    }
                }
        });
    }

    function checkEmptyNames(){
        $.ajax({
            type: 'GET',
            url : '/v1/geoInfoSystem/comprovar_noms_buits_update/',
            data:{
                'nom1' : document.getElementById("first_name").value,
                'nom2' : document.getElementById("first_name1").value
            },
            dataType:'json',
            success:
                function (data){
                    var info = Object.values(data)[0];
                    if(info ==='true'){
                        document.getElementById("bttn_update_name").disabled=false;
                    }else{
                        document.getElementById("bttn_update_name").disabled=true;
                    }
                }
        });
    }
    function checkNames(){
        $.ajax({
            type: 'GET',
            url : '/v1/geoInfoSystem/comprovar_noms_update/',
            data:{
                'nom1' :  document.getElementById("first_name").value,
                'nom2' : document.getElementById("first_name1").value,
                'nomUsuari': `{{user.username}}`
            },
            dataType:'json',
            success:
                function (data){
                    var info = Object.values(data)[0];
                    if(info ==='false'){
                        document.getElementById("errorsNom").innerHTML='Els dos camps no coincideixen o el nom coincideix amb el nom d\'usuari.';
                        document.getElementById("errorsNom").style.color="red";
                    }else{
                        document.getElementById("form_update_nom").submit();
                    }
                }
        });
    }

    function checkEmptySurnames(){
        $.ajax({
            type: 'GET',
            url : '/v1/geoInfoSystem/comprovar_cognoms_buits_update/',
            data:{
                'cognom1' : document.getElementById("last_name").value,
                'cognom2' : document.getElementById("last_name1").value
            },
            dataType:'json',
            success:
                function (data){
                    var info = Object.values(data)[0];
                    if(info ==='true'){
                        document.getElementById("bttn_update_surname").disabled=false;
                    }else{
                        document.getElementById("bttn_update_surname").disabled=true;
                    }
                }
        });
    }
    function checkSurnames(){
        $.ajax({
            type: 'GET',
            url : '/v1/geoInfoSystem/comprovar_cognoms_update/',
            data:{
                'cognom1' :  document.getElementById("last_name").value,
                'cognom2' : document.getElementById("last_name1").value
            },
            dataType:'json',
            success:
                function (data){
                    var info = Object.values(data)[0];
                    if(info ==='false'){
                        document.getElementById("errorsCognom").innerHTML='Els dos camps no coincideixen.';
                        document.getElementById("errorsCognom").style.color="red";
                    }else{
                        document.getElementById("form_update_cognom").submit();
                    }
                }
        });
    }

    function checkEmptyPasswd(){
        $.ajax({
            type: 'GET',
            url : '/v1/geoInfoSystem/comprovar_contrassenya_buits_update/',
            data:{
                'passwd1' : document.getElementById("password").value,
                'passwd2' : document.getElementById("password1").value
            },
            dataType:'json',
            success:
                function (data){
                    var info = Object.values(data)[0];
                    if(info ==='true'){
                        document.getElementById("bttn_update_password").disabled=false;
                    }else{
                        document.getElementById("bttn_update_password").disabled=true;
                    }
                }
        });
    }
    function checkPasswd(){
        $.ajax({
            type: 'GET',
            url : '/v1/geoInfoSystem/comprovar_contrassenya_update/',
            data:{
                'passwd1' :  document.getElementById("password").value,
                'passwd2' : document.getElementById("password1").value
            },
            dataType:'json',
            success:
                function (data){
                    var info = Object.values(data)[0];
                    if(info ==='false'){
                        document.getElementById("errorsContrassenya").innerHTML='Els dos camps no coincideixen o no hi ha més de 8 caràcters.';
                        document.getElementById("errorsContrassenya").style.color="red";
                    }else{
                        document.getElementById("form_update_contrassenya").submit();
                    }
                }
        });
    }
</script>
</body>
{%endblock%}